h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: 50px;
  font-size: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eacda3;
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
  background: linear-gradient(to right, #d6ae7b, #eacda3);
}
